.bg-init {
    background: url('../image/work_two.jpeg')no-repeat center center;
    background-size: cover;
    height: 93vh;
}

.blur {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    box-shadow: 0 20px 20px rgba(0, 1, 2, 3, .8);
    height: 100vh;
}

.center {
    width: 999px;
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
}

.nameSession{
    color: #fff;
    background-color: rgba(37, 35, 35, 0.3);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    

}

.bgcard{
    background: url('../image/work_two.jpeg')no-repeat center center;
    background-size: cover;
    height: 100vh
}



.container {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
}

.noticias {
    display: flex;
    justify-content: space-around;
}

.image-index {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.cards-index {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    width: 250px;
    height: auto;
    padding: 10px;
}