* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: rgb(201, 201, 71);
  opacity: 0.9;
  text-decoration: none;
}

.logo {
  font-size: 24px; 

}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #00000f;
  height: 7vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 95vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  /* letter-spacing: 1px; */
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

@media (max-width: 799px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 7vh;
    right: 0;
    width: 100vw;
    height: 93vh;
    background: #01010ab5;
    flex-direction: column;
    align-items:stretch;
    justify-content: space-around;
    transform: translateX(100%);
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  a{
    padding-left: 2px;
  }

  .mobile-menu {
    padding-left: 190px;
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
