*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    /* tamanho da fonte */
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.signup {
    max-width: 50rem;
    width: 100%;
}

.signup__title {
    margin-top: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    color: #222c59;
}

.form {
    margin-top: 1.5rem;
}

.logo {
    text-align: center;

}

.logo__link {
    background: url('../../image/users/profile_foto/rafaelberlato.png');
    border-radius: 5rem;
    display: inline-block;
    height: 8.7rem;
    width: 8.7rem;
}

.logo__link:hover {
    width: 9rem;
}

.form__group {
    margin-bottom: 2rem;
    position: relative;
}

.form__group--center{
    text-align: center;    
}

.form__input-text {
    background-color: #f5f6f8;
    border: .2rem solid #ededf1;
    border-radius: .8rem;
    font-size: 1.5rem;
    height: 6rem;
    outline: none;
    padding-left: 4.5rem;
    position: relative;
    width: 100%;
}

.form__input-text.error{
    border-color: #d95150;
}

.form__input-text::placeholder {
    font-weight: bold;
    color: #c1c6d0;
}

.form__input-checkbox{
    margin-right: .5rem;
    cursor: pointer;
}


.form__label.hide {
    left: 0;
    position: absolute;
    top: 1rem;


}

.form__input-icon {
    color: #8a93a5;
    font-size: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 2.2rem;
}

.form__input-icon.fa-eye {
    left: auto;
    right: 2rem;
}

.form__label {
    font-size: 1.5rem;
    color: #454653;
}

.form__link {
    color: #00a9c8;

}

.form__button-submit{
    background-color: #00a9c8;
    height: 5rem;
    width: 15rem;
    cursor: pointer;
    border-radius: .7rem;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 1.8rem;
    color: #fff;

}

.form__message-error{
    display: none;
    color: #d95150;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    font-weight: bold;
}

.requirements {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1rem;
}

.requirements__progress-bar {
    background-color: #f3e24a;
    border-radius: .5rem;
    height: .5rem;
    margin-bottom: 1.5rem;
    width: 0%;
}

.requirements__description,
.requirements__item {
    color: #9ea4ac;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.requirements__item.checked{
    color: #81bc3a;
    font-weight: bold;
}

.requirements__item .fas::before {
    content: "\f057";
}

.requirements__item.checked .fas::before {
    content: "\f058";
}